<section id="header" class="my-10 mx-0">
	<nav class="flex flex-row justify-between">
		<a class="text-lg font-bold dark:text-white dark:hover:text-pink-600 text-black hover:text-pink-600 font-mono"
			routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
			James.
		</a>

		<div class="flex space-x-6">
			<a routerLink="/blog"
				class="dark:hover:text-pink-600 text-black dark:text-white text-base hover:text-pink-500 font-mono"
				routerLinkActive="active" ariaCurrentWhenActive="page">
				blog
			</a>
			<a routerLink="/projects"
				class="dark:hover:text-pink-600 text-black dark:text-white text-base hover:text-pink-500 font-mono"
				routerLinkActive="active" ariaCurrentWhenActive="page">
				projects
			</a>
			<a routerLink="/bookmarks"
				class="dark:hover:text-pink-600 text-black dark:text-white text-base hover:text-pink-500 font-mono"
				routerLinkActive="active" ariaCurrentWhenActive="page">
				bookmarks
			</a>
		</div>

		<app-toggle-switch></app-toggle-switch>
	</nav>
</section>
