<section id="header" class="">
	<nav class="flex flex-row justify-between">
		<a class="text-lg font-bold  text-pink-800 hover:text-pink-600 font-mono" routerLink="/"
			routerLinkActive="active" ariaCurrentWhenActive="page">
			James.
		</a>
		<div class="flex space-x-6">
			<a routerLink="/blog" class="text-base hover:text-pink-500 font-mono" routerLinkActive="active"
				ariaCurrentWhenActive="page">blog</a>
			<a routerLink="/projects" class="text-base hover:text-pink-500 font-mono" routerLinkActive="active"
				ariaCurrentWhenActive="page">projects</a>
			<a routerLink="/bookmarks" class="text-base hover:text-pink-500 font-mono" routerLinkActive="active"
				ariaCurrentWhenActive="page">bookmarks</a>
		</div>

		<div class="toggle">
			<div class="">
				<span class="toggle-moon" title="Enable dark mode" aria-hidden="true"></span>
				<span class="toggle-sun" title="Enable light mode" aria-hidden="true"></span>
			</div>
		</div>
	</nav>
</section>
