<div class="mb-10 flex flex-col gap-3 mx-auto">
	<article class="dark:text-gray-50">
		<div class="space-y-3">
			<h1 class="text-2xl font-medium md:tracking-tight">
				<a href="#" class="hover:underline hover:underline-offset-1">First post Suspendisse ut magna
					et ipsum
					sodales accumsan.</a>
			</h1>
			<div
				class="flex flex-col items-start justify-between w-full md:flex-row md:items-center dark:text-gray-400">
				<div class="flex items-center md:space-x-2">
					<p class="text-sm">Leroy Jenkins • July 19th, 2021</p>
				</div>
				<p class="flex-shrink-0 mt-3 text-sm md:mt-0">4 min read • 1,570 views</p>
			</div>
		</div>
	</article>
	<div class="flex flex-wrap gap-5 space-x-2 py-2 border-t border-dashed dark:border-gray-600 border-gray-300">
		<div class="flex flex-row flex-wrap gap-1 ">
			<app-tag text="#MambaUI"></app-tag>
			<app-tag text="#TailwindCSS"></app-tag>
			<app-tag text="#Angular"></app-tag>
		</div>
	</div>
</div>
