<section id="intro" class="mt-32">
	<div class="flex flex-col gap-1 text-black dark:text-white">
		<h1 class="text-4xl font-bold ">Blog</h1>
		<p class="text-justify  text-base">
			Welcome to my blog section.
		</p>
		<p class="text-justify text-base"></p>
	</div>
</section>

<section id="post" class="text-black dark:text-white">
	<div class="mt-12">
		<app-skeleton-loader *ngIf="!(posts | async)"></app-skeleton-loader>
		<app-blog-post *ngFor="let item of posts | async"></app-blog-post>
	</div>
</section>
