<section id="intro" class="relative mt-32">

	<div class="">
		<h1 class="mt-0 mb-2 text-5xl font-bold">👋🏾</h1>
		<h1 class="mt-0 mb-2 text-4xl font-bold ">I'm James</h1>
		<p class="mt-0 mb-0 text-2xl ">Fullstack software engineer</p>
	</div>

	<img src="assets/img/jamie.png" class="w-3/4 absolute -right-20 mt-10 md:w-2/4 md:right-0" alt="JamieScotter">

</section>

<section id="links" class="flex flex-col mt-10 ">

	<div class="sm:w-max flex-3">
		<div class="flex flex-col  text-gray-700">
			<p class="font-normal font-mono ">Welcome to my space on the web</p>
			<ul class="list-disc list-inside mt-1">
				<li><a routerLink="/blog" class=" text-pink-100 hover:text-pink-600 font-mono">blog</a></li>
				<li><a routerLink="/projects" class="text-pink-100 hover:text-pink-600 font-mono">projects</a></li>
				<li><a routerLink="/bookmark" class="text-pink-100 hover:text-pink-600 font-mono">bookmarks</a></li>
			</ul>
		</div>

		<div class="flex flex-col mt-5  text-gray-700">
			<p class="font-normal font-mono">Find me on the internet</p>
			<ul class="list-disc list-inside mt-1">
				<li><a href="#" class="text-pink-200 hover:text-pink-600 font-mono">github</a></li>
				<li><a href="#" class="text-pink-200 hover:text-pink-600 font-mono">linkedIn</a></li>
			</ul>
		</div>

		<div class="flex flex-col mt-5  text-gray-700">
			<p class="font-normal font-mono">Contact me </p>
			<ul class="list-disc list-inside mt-1">
				<li><a href="#" class="text-pink-200 hover:text-pink-600 font-mono">email</a></li>
				<li><a href="#" class="text-pink-200 hover:text-pink-600 font-mono">whatsapp</a></li>
				<li><a href="#" class="text-pink-200 hover:text-pink-600 font-mono">skype</a></li>
			</ul>
		</div>
	</div>

</section>
