<section id="intro" class="relative mt-32">
	<div class="flex flex-col gap-5">

		<h1 class="text-4xl font-bold ">Projects</h1>

		<p class="text-justify text-base">
			I enjoy creating beautiful and reliable applications for multiple platforms. <br>
			My goal is to build scalable products and performant experiences constantly. <br>
			I derive joy in working on projects that solve specific business requirements or help people solve
			everyday problems.
		</p>

		<p class="text-justify text-base">
			My projects range from web, desktop, and mobile apps.
		</p>

	</div>
</section>

<section class="mt-14 flex flex-col gap-16">
	<div class="flex flex-col sm:flex-row   bg-white shadow-lg rounded-lg overflow-hidden">
		<div class="
                    bg-no-repeat bg-cover bg-center
                    bg-[url('/assets/img/projects/paymed-login.svg')]
                    h-72 w-full
                    md:w-2/5 md:h-auto
                    sm:bg-none
                    md:bg-none
                    xl:bg-[url('/assets/img/projects/paymed-login.svg')]
                ">
		</div>

		<div class="w-3/5 p-4 flex flex-col gap-5">
			<h1 class="text-gray-800 font-bold text-2xl">
				<a href="" class="text-[#0093F7] hover:text-pink-500"> Paymed </a>
			</h1>

			<div class="flex flex-col gap-2">
				<p class="mt-2 text-gray-800 text-sm">
					<span class="font-bold">Description: </span>
				</p>

				<span class="block text-gray-600 text-sm">
					Paymed makes it super easy for patients to seamlessly pay their
					hospital bills from anywhere and receive the medical treatment they need on time.
				</span>

				<div class="flex flex-row flex-wrap gap-4 text-gray-600 my-3">
					<span class="text-sm">view ui/ux product design: </span>
					<a href="#" class="text-sm text-[#0093F7] hover:text-pink-500">web</a>

					<a href="#" class="text-sm text-[#0093F7] hover:text-pink-500">mobile</a>
				</div>

			</div>


			<div class="flex flex-col gap-2">
				<p class=" text-gray-800 text-sm">
					<span class="font-bold">Industry & Tags: </span>
				</p>

				<div class="flex flex-row flex-wrap gap-1">
					<span class="h-max text-sm font-medium
                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                 hover:bg-pink-500 hover:text-white">
						Healthcare
					</span>
					<span
						class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                                                                                                hover:bg-pink-500 hover:text-white">
						HealthTech
					</span>

					<span
						class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                                                                                                                            hover:bg-pink-500 hover:text-white">
						Medical
					</span>
					<span
						class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                                                                                                                                                        hover:bg-pink-500 hover:text-white">
						Payment
					</span>
				</div>

			</div>

			<div class="flex flex-col gap-2">
				<p class="mt-2 text-gray-800 text-sm">
					<span class="font-bold">Stack & tools: </span>
				</p>

				<div class="flex flex-col gap-1">

					<div class="flex flex-row flex-wrap gap-1">
						<span class="h-max text-sm font-medium
                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                hover:bg-pink-500 hover:text-white">
							Java
						</span>
						<span class="h-max text-sm font-medium
                                                            bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                             hover:bg-pink-500 hover:text-white">
							SpringBoot
						</span>
						<span class="h-max text-sm font-medium
                                                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                 hover:bg-pink-500 hover:text-white">
							Angular
						</span>

						<span class="h-max text-sm font-medium
                                                            bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                             hover:bg-pink-500 hover:text-white">
							Typescript
						</span>

						<span class="h-max text-sm font-medium
                                                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                 hover:bg-pink-500 hover:text-white">
							AWS
						</span>

						<span class="h-max text-sm font-medium
                                                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                 hover:bg-pink-500 hover:text-white">
							EC2
						</span>

						<span class="h-max text-sm font-medium
                                                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                 hover:bg-pink-500 hover:text-white">
							PostgresSQL
						</span>

						<span
							class="h-max text-sm font-medium
                                                                                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                                                 hover:bg-pink-500 hover:text-white">
							Jasper Reports
						</span>

						<span
							class="h-max text-sm font-medium
                                                                                                                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                                                                                 hover:bg-pink-500 hover:text-white">
							Dart
						</span>
						<span
							class="h-max text-sm font-medium
                                                                                                                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                                                                                 hover:bg-pink-500 hover:text-white">
							Flutter
						</span>

						<span
							class="h-max text-sm font-medium
                                                                                                                                                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                                                                                                                 hover:bg-pink-500 hover:text-white">
							Firebase
						</span>

						<span
							class="h-max text-sm font-medium
                                                                                                                                                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                                                                                                                 hover:bg-pink-500 hover:text-white">
							Codemagic CI/CD
						</span>

					</div>
				</div>



			</div>

			<div class="flex item-center justify-between mt-4">
				<a href="#">
					<button class="px-3 py-2 bg-[#0093F7] text-white text-xs font-bold rounded  hover:bg-pink-500">
						preview
					</button>
				</a>
			</div>

		</div>
	</div>

	<div class="flex flex-col sm:flex-row   bg-white shadow-lg rounded-lg overflow-hidden">
		<div class="
                                bg-no-repeat bg-cover bg-center
                                bg-[url('/assets/img/projects/paymed-login.svg')]
                                h-72 w-full
                                md:w-2/5 md:h-auto
                                sm:bg-none
                                md:bg-none
                                xl:bg-[url('/assets/img/projects/paymed-login.svg')]
                            ">
		</div>

		<div class="w-3/5 p-4 flex flex-col gap-5">
			<h1 class="text-gray-800 font-bold text-2xl">
				<a href="" class="text-[#0093F7] hover:text-pink-500"> Paymed </a>
			</h1>

			<div class="flex flex-col gap-2">
				<p class="mt-2 text-gray-800 text-sm">
					<span class="font-bold">Description: </span>
				</p>

				<span class="block text-gray-600 text-sm">
					Paymed makes it super easy for patients to seamlessly pay their
					hospital bills from anywhere and receive the medical treatment they need on time.
				</span>

				<div class="flex flex-row flex-wrap gap-4 text-gray-600 my-3">
					<span class="text-sm">view ui/ux product design: </span>
					<a href="#" class="text-sm text-[#0093F7] hover:text-pink-500">web</a>

					<a href="#" class="text-sm text-[#0093F7] hover:text-pink-500">mobile</a>
				</div>

			</div>


			<div class="flex flex-col gap-2">
				<p class=" text-gray-800 text-sm">
					<span class="font-bold">Industry & Tags: </span>
				</p>

				<div class="flex flex-row flex-wrap gap-1">
					<span class="h-max text-sm font-medium
                                            bg-gray-100 py-1 px-2 rounded text-black align-middle
                                             hover:bg-pink-500 hover:text-white">
						Healthcare
					</span>
					<span
						class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                                                                                                            hover:bg-pink-500 hover:text-white">
						HealthTech
					</span>

					<span
						class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                                                                                                                                        hover:bg-pink-500 hover:text-white">
						Medical
					</span>
					<span
						class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                                                                                                                                                                    hover:bg-pink-500 hover:text-white">
						Payment
					</span>
				</div>

			</div>

			<div class="flex flex-col gap-2">
				<p class="mt-2 text-gray-800 text-sm">
					<span class="font-bold">Stack & tools: </span>
				</p>

				<div class="flex flex-col gap-1">

					<div class="flex flex-row flex-wrap gap-1">
						<span class="h-max text-sm font-medium
                                            bg-gray-100 py-1 px-2 rounded text-black align-middle
                                            hover:bg-pink-500 hover:text-white">
							Java
						</span>
						<span class="h-max text-sm font-medium
                                                                        bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                         hover:bg-pink-500 hover:text-white">
							SpringBoot
						</span>
						<span class="h-max text-sm font-medium
                                                                            bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                             hover:bg-pink-500 hover:text-white">
							Angular
						</span>

						<span class="h-max text-sm font-medium
                                                                        bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                         hover:bg-pink-500 hover:text-white">
							Typescript
						</span>

						<span class="h-max text-sm font-medium
                                                                            bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                             hover:bg-pink-500 hover:text-white">
							AWS
						</span>

						<span class="h-max text-sm font-medium
                                                                            bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                             hover:bg-pink-500 hover:text-white">
							EC2
						</span>

						<span class="h-max text-sm font-medium
                                                                            bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                             hover:bg-pink-500 hover:text-white">
							PostgresSQL
						</span>

						<span
							class="h-max text-sm font-medium
                                                                                                            bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                                                             hover:bg-pink-500 hover:text-white">
							Jasper Reports
						</span>

						<span
							class="h-max text-sm font-medium
                                                                                                                                            bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                                                                                             hover:bg-pink-500 hover:text-white">
							Dart
						</span>
						<span
							class="h-max text-sm font-medium
                                                                                                                                            bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                                                                                             hover:bg-pink-500 hover:text-white">
							Flutter
						</span>

						<span
							class="h-max text-sm font-medium
                                                                                                                                                                            bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                                                                                                                             hover:bg-pink-500 hover:text-white">
							Firebase
						</span>

						<span
							class="h-max text-sm font-medium
                                                                                                                                                                            bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                                                                                                                             hover:bg-pink-500 hover:text-white">
							Codemagic CI/CD
						</span>

					</div>
				</div>



			</div>

			<div class="flex item-center justify-between mt-4">
				<a href="#">
					<button class="px-3 py-2 bg-[#0093F7] text-white text-xs font-bold rounded  hover:bg-pink-500">
						preview
					</button>
				</a>
			</div>

		</div>
	</div>
</section>

<section class="mt-14">
	<div class="flex flex-col sm:flex-row  bg-white shadow-lg rounded-lg overflow-hidden">

		<div class="w-full p-10 flex flex-col gap-5">
			<h1 class="text-gray-800 font-bold text-2xl">
				<a href="" class="text-[#0093F7] hover:text-pink-500"> HealthSuite </a>
			</h1>

			<div class="flex flex-col gap-2">
				<p class="mt-2 text-gray-800 text-sm">
					<span class="font-bold">Description: </span>
				</p>

				<span class="block text-gray-600 text-sm">
					Healthsuite is a robust enterprise grade web based hospital management information system
					that helps manage the different daily operation of small, medium and large hospitals.

					Built with over 12 modules each containing 10+ sub modules with extensive reporting
					features, healthsuite can be used in any hospital environment for daily operations.
				</span>

				<div class="flex flex-col gap-2">
					<p class="mt-4 text-gray-800 text-sm">
						<span class="font-bold">Modules: </span>
					</p>


					<div class="flex flex-row flex-wrap gap-1">
						<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                        hover:bg-pink-500 hover:text-white">
							Electronic medical records
						</span>

						<span
							class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                                        hover:bg-pink-500 hover:text-white">
							Pharmacy outlets
						</span>
						<span
							class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                                        hover:bg-pink-500 hover:text-white">
							Stock & inventory
						</span>

						<span
							class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle  hover:bg-pink-500 hover:text-white">
							Doctor clerking
						</span>

						<span
							class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle hover:bg-pink-500 hover:text-white">
							Nursing care
						</span>

						<span
							class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                                                                                                                                        hover:bg-pink-500 hover:text-white">
							Billing & invoicing
						</span>

						<span
							class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                                                                                                                                        hover:bg-pink-500 hover:text-white">
							Payment manager
						</span>

						<span
							class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                                                                                                                                        hover:bg-pink-500 hover:text-white">
							Reporting
						</span>

						<span
							class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                                                                                                                                                        hover:bg-pink-500 hover:text-white">
							and more..
						</span>

					</div>
				</div>




			</div>


			<div class="flex flex-col gap-2">
				<p class="mt-5 text-gray-800 text-sm">
					<span class="font-bold">Industry: </span>
				</p>

				<div class="flex flex-row flex-wrap gap-1">
					<span class="h-max text-sm font-medium
                                                            bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                            hover:bg-pink-500 hover:text-white">
						Healthcare
					</span>
					<span class="h-max text-sm font-medium
                                                            bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                            hover:bg-pink-500 hover:text-white">
						HealthTech
					</span>
				</div>

			</div>

			<div class="flex flex-col gap-2">
				<p class="mt-2 text-gray-800 text-sm">
					<span class="font-bold">Stack & tools: </span>
				</p>

				<div class="flex flex-col gap-1">
					<span class="text-sm mt-1">web: </span>
					<div class="flex flex-row flex-wrap gap-1">
						<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle">
							Java
						</span>
						<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle">
							SpringBoot
						</span>
						<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle">
							Angular
						</span>

						<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle">
							Typescript
						</span>

						<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle">
							Heroku
						</span>

						<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle">
							PostgresSQL
						</span>

						<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle">
							Jenkins
						</span>

						<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle">
							Tomcat
						</span>

						<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle">
							Jasper Reports
						</span>

					</div>
				</div>

			</div>

			<div class="flex item-center justify-between mt-4">
				<a href="#">
					<button class="px-3 py-2 bg-[#0093F7] text-white text-xs font-bold rounded  hover:bg-pink-500">
						preview
					</button>
				</a>
			</div>

		</div>
	</div>
</section>

<section class="mt-14">
	<div class="flex flex-col sm:flex-row  bg-white shadow-lg rounded-lg overflow-hidden">

		<div class="w-full p-10 flex flex-col gap-5">
			<h1 class="text-gray-800 font-bold text-2xl">
				<a href="" class="text-[#0093F7] hover:text-pink-500"> CollegePortal </a>
			</h1>

			<div class="flex flex-col gap-2">
				<p class="mt-2 text-gray-800 text-sm">
					<span class="font-bold">Description: </span>
				</p>

				<span class="block text-gray-600 text-sm">
					CollegePortal is a robust web-based school management information system.
				</span>

				<span class="block text-gray-600 text-sm mt-1">
					What makes this software unique is its flexible configuration and setup style makes it
					functional in different environments. This software can be used by any higher educational
					institution regardless of
					its institution structure or
					type because CollegePortal
					can be configured at runtime to work with any higher institution.
				</span>
			</div>

			<div class="flex flex-col gap-2">
				<p class="mt-2 text-gray-800 text-sm">
					<span class="font-bold">Modules: </span>
				</p>


				<div class="flex flex-row flex-wrap gap-1">
					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                hover:bg-pink-500 hover:text-white">
						Student profile
					</span>
					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                hover:bg-pink-500 hover:text-white">
						Fees payment
					</span>
					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                hover:bg-pink-500 hover:text-white">
						Admission management
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                hover:bg-pink-500 hover:text-white">
						Course registration
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                hover:bg-pink-500 hover:text-white">
						Institution setup
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                hover:bg-pink-500 hover:text-white">
						Result managment
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                hover:bg-pink-500 hover:text-white">
						Library managment
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                hover:bg-pink-500 hover:text-white">
						Lecturer and course instructor
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                hover:bg-pink-500 hover:text-white">
						Reports
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                hover:bg-pink-500 hover:text-white">
						and more..
					</span>

				</div>
			</div>


			<div class="flex flex-col gap-2">
				<p class=" text-gray-800 text-sm">
					<span class="font-bold">Industry: </span>
				</p>

				<div class="flex flex-row flex-wrap gap-1">
					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                hover:bg-pink-500 hover:text-white">
						Euducation
					</span>
					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                hover:bg-pink-500 hover:text-white">
						EduTech
					</span>
				</div>

			</div>

			<div class="flex flex-col gap-2">
				<p class="mt-2 text-gray-800 text-sm">
					<span class="font-bold">Stack & tools: </span>
				</p>

				<div class="flex flex-col gap-1">
					<span class="text-sm mt-1">web: </span>
					<div class="flex flex-row flex-wrap gap-1">
						<span class="h-max text-sm font-medium
                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                hover:bg-pink-500 hover:text-white">
							Java
						</span>
						<span class="h-max text-sm font-medium
                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                hover:bg-pink-500 hover:text-white">
							SpringBoot
						</span>
						<span class="h-max text-sm font-medium
                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                hover:bg-pink-500 hover:text-white">
							Thymeleaf
						</span>

						<span class="h-max text-sm font-medium
                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                hover:bg-pink-500 hover:text-white">
							jQuery
						</span>

						<span class="h-max text-sm font-medium
                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                hover:bg-pink-500 hover:text-white">
							AWS
						</span>

						<span class="h-max text-sm font-medium
                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                hover:bg-pink-500 hover:text-white">
							Elastic Beanstalk
						</span>

						<span class="h-max text-sm font-medium
                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                hover:bg-pink-500 hover:text-white">
							PostgresSQL
						</span>

						<span class="h-max text-sm font-medium
                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                hover:bg-pink-500 hover:text-white">
							Jenkins
						</span>

						<span class="h-max text-sm font-medium
                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                hover:bg-pink-500 hover:text-white">
							Tomcat
						</span>

						<span class="h-max text-sm font-medium
                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                hover:bg-pink-500 hover:text-white">
							Jasper Reports
						</span>

					</div>
				</div>

			</div>

			<div class="flex item-center justify-between mt-4">
				<a href="#">
					<button class="px-3 py-2 bg-[#0093F7] text-white text-xs font-bold rounded  hover:bg-pink-500">
						Preview a demo
					</button>
				</a>
			</div>

		</div>
	</div>
</section>

<section class="mt-14">
	<div class="flex flex-col sm:flex-row  bg-white shadow-lg rounded-lg overflow-hidden">

		<div class="w-full p-10 flex flex-col gap-5">
			<h1 class="text-gray-800 font-bold text-2xl">
				<a href="" class="text-[#0093F7] hover:text-pink-500"> Central Billing System (CBS) </a>
			</h1>

			<div class="flex flex-col gap-2">
				<p class="mt-2 text-gray-800 text-sm">
					<span class="font-bold">Description: </span>
				</p>

				<span class="block text-gray-600 text-sm">
					A central billing platform for all federal and state related bills & tax payment.
				</span>

				<div class="block text-gray-600 text-sm mt-4">

					<p class="mt-2 text-gray-800 text-sm">
						<span class="font-bold">Benefits: </span>
					</p>
					<ul class=" list-inside list-disc">
						<li>Tracking financial transactions.</li>
						<li>Managing fees payment.</li>
						<li>Enhancing a seamless flow of transactions</li>
					</ul>

				</div>
			</div>

			<div class="flex flex-col gap-2">
				<p class="mt-2 text-gray-800 text-sm">
					<span class="font-bold">Modules: </span>
				</p>


				<div class="flex flex-row flex-wrap gap-1">
					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                        hover:bg-pink-500 hover:text-white">
						Student profile
					</span>
					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                        hover:bg-pink-500 hover:text-white">
						Fees payment
					</span>
					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                        hover:bg-pink-500 hover:text-white">
						Admission management
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                        hover:bg-pink-500 hover:text-white">
						Course registration
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                        hover:bg-pink-500 hover:text-white">
						Institution setup
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                        hover:bg-pink-500 hover:text-white">
						Result managment
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                        hover:bg-pink-500 hover:text-white">
						Library managment
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                        hover:bg-pink-500 hover:text-white">
						Lecturer and course instructor
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                        hover:bg-pink-500 hover:text-white">
						Reports
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                        hover:bg-pink-500 hover:text-white">
						and more..
					</span>

				</div>
			</div>

			<div class="flex flex-col gap-2">
				<p class="mt-2 text-gray-800 text-sm">
					<span class="font-bold">Stack & tools: </span>
				</p>

				<div class="flex flex-col gap-1">
					<span class="text-sm mt-1">web: </span>
					<div class="flex flex-row flex-wrap gap-1">
						<span class="h-max text-sm font-medium
                                        bg-gray-100 py-1 px-2 rounded text-black align-middle
                                        hover:bg-pink-500 hover:text-white">
							Java
						</span>
						<span class="h-max text-sm font-medium
                                        bg-gray-100 py-1 px-2 rounded text-black align-middle
                                        hover:bg-pink-500 hover:text-white">
							SpringBoot
						</span>
						<span class="h-max text-sm font-medium
                                        bg-gray-100 py-1 px-2 rounded text-black align-middle
                                        hover:bg-pink-500 hover:text-white">
							Angular
						</span>

						<span class="h-max text-sm font-medium
                                        bg-gray-100 py-1 px-2 rounded text-black align-middle
                                        hover:bg-pink-500 hover:text-white">
							Typescript
						</span>

						<span class="h-max text-sm font-medium
                                        bg-gray-100 py-1 px-2 rounded text-black align-middle
                                        hover:bg-pink-500 hover:text-white">
							Heroku
						</span>

						<span class="h-max text-sm font-medium
                                        bg-gray-100 py-1 px-2 rounded text-black align-middle
                                        hover:bg-pink-500 hover:text-white">
							PostgresSQL
						</span>

						<span class="h-max text-sm font-medium
                                        bg-gray-100 py-1 px-2 rounded text-black align-middle
                                        hover:bg-pink-500 hover:text-white">
							Jenkins
						</span>

						<span class="h-max text-sm font-medium
                                        bg-gray-100 py-1 px-2 rounded text-black align-middle
                                        hover:bg-pink-500 hover:text-white">
							Tomcat
						</span>

						<span class="h-max text-sm font-medium
                                        bg-gray-100 py-1 px-2 rounded text-black align-middle
                                        hover:bg-pink-500 hover:text-white">
							Jasper Reports
						</span>

					</div>
				</div>

			</div>

			<div class="flex item-center justify-between mt-4">
				<a href="#">
					<button class="px-3 py-2 bg-[#0093F7] text-white text-xs font-bold rounded  hover:bg-pink-500">
						Preview a demo
					</button>
				</a>
			</div>

		</div>
	</div>
</section>

<section class="mt-14">
	<div class="flex flex-col sm:flex-row  bg-white shadow-lg rounded-lg overflow-hidden">

		<div class="w-full p-10 flex flex-col gap-5">
			<h1 class="text-gray-800 font-bold text-2xl">
				<a href="" class="text-[#0093F7] hover:text-pink-500"> Bill VTU </a>
			</h1>

			<div class="flex flex-col gap-2">
				<p class="mt-2 text-gray-800 text-sm">
					<span class="font-bold">Description: </span>
				</p>

				<span class="block text-gray-600 text-sm">
					A central billing platform for all federal and state related bills & tax payment.
				</span>

				<div class="block text-gray-600 text-sm mt-4">

					<p class="mt-2 text-gray-800 text-sm">
						<span class="font-bold">Benefits: </span>
					</p>
					<ul class=" list-inside list-disc">
						<li>Tracking financial transactions.</li>
						<li>Managing fees payment.</li>
						<li>Enhancing a seamless flow of transactions</li>
					</ul>

				</div>
			</div>

			<div class="flex flex-col gap-2">
				<p class="mt-2 text-gray-800 text-sm">
					<span class="font-bold">Modules: </span>
				</p>


				<div class="flex flex-row flex-wrap gap-1">
					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                hover:bg-pink-500 hover:text-white">
						Student profile
					</span>
					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                hover:bg-pink-500 hover:text-white">
						Fees payment
					</span>
					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                hover:bg-pink-500 hover:text-white">
						Admission management
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                hover:bg-pink-500 hover:text-white">
						Course registration
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                hover:bg-pink-500 hover:text-white">
						Institution setup
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                hover:bg-pink-500 hover:text-white">
						Result managment
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                hover:bg-pink-500 hover:text-white">
						Library managment
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                hover:bg-pink-500 hover:text-white">
						Lecturer and course instructor
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                hover:bg-pink-500 hover:text-white">
						Reports
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                hover:bg-pink-500 hover:text-white">
						and more..
					</span>

				</div>
			</div>

			<div class="flex flex-col gap-2">
				<p class="mt-2 text-gray-800 text-sm">
					<span class="font-bold">Stack & tools: </span>
				</p>

				<div class="flex flex-col gap-1">
					<span class="text-sm mt-1">web: </span>
					<div class="flex flex-row flex-wrap gap-1">
						<span class="h-max text-sm font-medium
                                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                hover:bg-pink-500 hover:text-white">
							Java
						</span>
						<span class="h-max text-sm font-medium
                                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                hover:bg-pink-500 hover:text-white">
							SpringBoot
						</span>
						<span class="h-max text-sm font-medium
                                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                hover:bg-pink-500 hover:text-white">
							Angular
						</span>

						<span class="h-max text-sm font-medium
                                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                hover:bg-pink-500 hover:text-white">
							Typescript
						</span>

						<span class="h-max text-sm font-medium
                                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                hover:bg-pink-500 hover:text-white">
							Heroku
						</span>

						<span class="h-max text-sm font-medium
                                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                hover:bg-pink-500 hover:text-white">
							PostgresSQL
						</span>

						<span class="h-max text-sm font-medium
                                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                hover:bg-pink-500 hover:text-white">
							Jenkins
						</span>

						<span class="h-max text-sm font-medium
                                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                hover:bg-pink-500 hover:text-white">
							Tomcat
						</span>

						<span class="h-max text-sm font-medium
                                                bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                hover:bg-pink-500 hover:text-white">
							Jasper Reports
						</span>

					</div>
				</div>

			</div>

			<div class="flex item-center justify-between mt-4">
				<a href="#">
					<button class="px-3 py-2 bg-[#0093F7] text-white text-xs font-bold rounded  hover:bg-pink-500">
						Preview a demo
					</button>
				</a>
			</div>

		</div>
	</div>
</section>

<section class="mt-14">
	<div class="flex flex-col sm:flex-row  bg-white shadow-lg rounded-lg overflow-hidden">

		<div class="w-full p-10 flex flex-col gap-5">
			<h1 class="text-gray-800 font-bold text-2xl">
				<a href="" class="text-[#0093F7] hover:text-pink-500"> PropertyInvestment </a>
			</h1>

			<div class="flex flex-col gap-2">
				<p class="mt-2 text-gray-800 text-sm">
					<span class="font-bold">Description: </span>
				</p>

				<span class="block text-gray-600 text-sm">
					A central billing platform for all federal and state related bills & tax payment.
				</span>

				<div class="block text-gray-600 text-sm mt-4">

					<p class="mt-2 text-gray-800 text-sm">
						<span class="font-bold">Benefits: </span>
					</p>
					<ul class=" list-inside list-disc">
						<li>Tracking financial transactions.</li>
						<li>Managing fees payment.</li>
						<li>Enhancing a seamless flow of transactions</li>
					</ul>

				</div>
			</div>

			<div class="flex flex-col gap-2">
				<p class="mt-2 text-gray-800 text-sm">
					<span class="font-bold">Modules: </span>
				</p>


				<div class="flex flex-row flex-wrap gap-1">
					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                        hover:bg-pink-500 hover:text-white">
						Student profile
					</span>
					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                        hover:bg-pink-500 hover:text-white">
						Fees payment
					</span>
					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                        hover:bg-pink-500 hover:text-white">
						Admission management
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                        hover:bg-pink-500 hover:text-white">
						Course registration
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                        hover:bg-pink-500 hover:text-white">
						Institution setup
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                        hover:bg-pink-500 hover:text-white">
						Result managment
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                        hover:bg-pink-500 hover:text-white">
						Library managment
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                        hover:bg-pink-500 hover:text-white">
						Lecturer and course instructor
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                        hover:bg-pink-500 hover:text-white">
						Reports
					</span>

					<span class="h-max text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                        hover:bg-pink-500 hover:text-white">
						and more..
					</span>

				</div>
			</div>

			<div class="flex flex-col gap-2">
				<p class="mt-2 text-gray-800 text-sm">
					<span class="font-bold">Stack & tools: </span>
				</p>

				<div class="flex flex-col gap-1">
					<span class="text-sm mt-1">web: </span>
					<div class="flex flex-row flex-wrap gap-1">
						<span class="h-max text-sm font-medium
                                                        bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                        hover:bg-pink-500 hover:text-white">
							Java
						</span>
						<span class="h-max text-sm font-medium
                                                        bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                        hover:bg-pink-500 hover:text-white">
							SpringBoot
						</span>
						<span class="h-max text-sm font-medium
                                                        bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                        hover:bg-pink-500 hover:text-white">
							Angular
						</span>

						<span class="h-max text-sm font-medium
                                                        bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                        hover:bg-pink-500 hover:text-white">
							Typescript
						</span>

						<span class="h-max text-sm font-medium
                                                        bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                        hover:bg-pink-500 hover:text-white">
							Heroku
						</span>

						<span class="h-max text-sm font-medium
                                                        bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                        hover:bg-pink-500 hover:text-white">
							PostgresSQL
						</span>

						<span class="h-max text-sm font-medium
                                                        bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                        hover:bg-pink-500 hover:text-white">
							Jenkins
						</span>

						<span class="h-max text-sm font-medium
                                                        bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                        hover:bg-pink-500 hover:text-white">
							Tomcat
						</span>

						<span class="h-max text-sm font-medium
                                                        bg-gray-100 py-1 px-2 rounded text-black align-middle
                                                        hover:bg-pink-500 hover:text-white">
							Jasper Reports
						</span>

					</div>
				</div>

			</div>

			<div class="flex item-center justify-between mt-4">
				<a href="#">
					<button class="px-3 py-2 bg-[#0093F7] text-white text-xs font-bold rounded  hover:bg-pink-500">
						Preview a demo
					</button>
				</a>
			</div>

		</div>
	</div>
</section>
