<app-modal>
	<form [formGroup]="form" (submit)="onSubmitForm()">
		<div class="relative flex w-full flex-wrap items-stretch mb-3">
			<input type="text" placeholder="Regular Input" formControlName="title"
				class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:shadow-outline w-full pr-10" />
		</div>
		<div class="relative flex w-full flex-wrap items-stretch mb-3">
			<button class="bg-green-400 p4 rounded-sm border-spacing-1" type="submit">Submit</button>
		</div>
	</form>
</app-modal>
