<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
	<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
		<thead class="text-xs">
		</thead>
		<tbody>
			<tr
				class="flex justify-between bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
				<!-- cols -->
				<div>
					<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
						Microsoft Surface Pro
					</th>
					<td class="px-6 py-4">
						White
					</td>
				</div>

				<!-- action -->
				<td class="flex gap-2 px-6 py-4 text-right">
					<a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
					<a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline">Remove</a>
				</td>
			</tr>

		</tbody>
	</table>
</div>
